// Mahindra red and supporting color palette
$body-background-color: #ffffff;
$sidebar-color: #e30613; // Mahindra red
$sidebar-active-color: #ba0c10; // darker shade for active
$sidebar-hover-color: #f44336; // hover variation

$accent-color: #e30613;
$accent-hover-color: #ba0c10;

$border-color: #ddd;
$search-background-color: #f9f9f9;
$link-color: #e30613;
$link-color-hover: #ba0c10;

$body-text-color: #111;
$nav-list-text-color: #fff;
$nav-list-hover-color: #fff;
$nav-list-active-color: #fff;
